<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->

<!-- main app container -->
<div class="app-container" fxFill fxLayout="column" fxLayoutGap="10px" [ngClass]="{ 'bg-light': user }">
    <div  class="banner_thing clickable" style="margin-bottom:0px;"  fxFlex fxLayoutAlign="center center" fxLayout="row">
       <img  routerLink="/"   src="assets/logo.png"  />
     <!--  <button mat-button>SolBlazers.org</button> -->
    </div>
    <alert></alert>
    <div style="margin-top:10px; overflow:auto;">    
        <router-outlet   ></router-outlet>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" style="padding-top:5px !important; padding-bottom:5px !important;" fxLayoutGap="10px" *ngIf="user">
        <button *ngIf="router.url !== '/' && router.url !=='/account/login' "   mat-raised-button routerLink="/"  color="primary">Home</button>
        
      <button mat-raised-button color="basic" (click)="logout()"> Logout </button>

    </div>
</div>

<!-- credits -->
<div class="text-center mt-4">
<!--     <p>
        <a href="https://jasonwatmore.com/post/2020/04/28/angular-9-user-registration-and-login-example-tutorial" target="_top">Angular 9 - User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p> -->
</div>
