<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->

<!-- main app container -->
<div class="app-container" fxFill fxLayout="column" fxLayoutGap="10px" [ngClass]="{ 'bg-light': user }">
    <div  class="banner_thing clickable" routerLink="/"  fxFlex fxLayoutAlign="center center" >
      <img  src="assets/logo.png"  />
    </div>
    <alert></alert>
    <router-outlet style="margin-top:10px;"  ></router-outlet>

    <div fxLayout="row" fxLayoutAlign="center center">

      <button mat-raised-button color="basic" (click)="logout()"> Logout </button>

    </div>
</div>

<!-- credits -->
<div class="text-center mt-4">
<!--     <p>
        <a href="https://jasonwatmore.com/post/2020/04/28/angular-9-user-registration-and-login-example-tutorial" target="_top">Angular 9 - User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p> -->
</div>
