
<div fxLayout="column"  fxFill fxLayoutAlign="start center" fxLayoutGap="10px" >


    <div  fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="10px">

        <mat-card fxFlex style="max-width: 800px;" fxLayout="column" >
            <mat-card-content fxLayout="column" fxLayoutGap="5px" fxFlex>

                Stuff about the event goes here. 
          
            </mat-card-content>
          
          <mat-card-actions fxLayout="row">
        
          </mat-card-actions>
        
          </mat-card>


          <mat-card fxFlex style="max-width: 800px;" fxLayout="column" >
            <mat-card-content fxLayout="column" fxLayoutGap="5px" fxFlex>

                Player List and Register button.  
          
            </mat-card-content>
          
          <mat-card-actions fxLayout="row">
        
          </mat-card-actions>
        
          </mat-card>


    </div>
   <div> 